<nav class="navigation navbar navbar-expand-lg navbar-dark bg-primary" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">WonderSoft</a>
    <!-- <img src="../assets/pexels-photo-1229861.jpeg" class="d-block" alt=""> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="prod">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="calc">Calculator</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="service" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Loan
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            
           <li><a class="dropdown-item"[routerLink]="['/loan','car']"> LoanCalculator</a></li>
            <li><a class="dropdown-item" [routerLink]="['edu']">Deposit Loan </a></li>
            
            
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="direct"> </a></li>
          </ul>
        </li>
        <li class="navbar-nav ml-auto nav-item ">
          <a class="nav-link " routerLink="acc">Create new account</a>
        </li>
        <li class="navbar-nav ml-auto nav-item ">
          <a class="nav-link " routerLink="pay">Payment</a>
        </li>
        <li class="navbar-nav  nav-item">
          <a class="nav-link " routerLink="bal">Balance</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> 
    </div>
  </div>
</nav>
<div>
  
</div>
<!-- <app-tdf></app-tdf><hr> -->
 <!--<app-rdf></app-rdf> --> 

<router-outlet></router-outlet>