<p>products works!</p>
<div>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/britannia-1.jpg" class="d-block w-100 h-80" alt="...">
            <h5 style="text-align:center">Hey Are you Hunger?????</h5>
           <p style="text-align:center" >Cost is around 250</p>
          </div>
          <div class="carousel-item">
              
            <img src="../../assets/depositphotos_10984109-stock-illustration-at-the-park.jpg" class="d-block w-100 h-80" alt="...">
            <h5 style="text-align:center">Welcome!!!!</h5>
           <p style="text-align:center">Cost is around 400</p>
          </div>
          <div class="carousel-item">
            <img src="../../assets/gettyimages-1205954750-612x612.jpg" class="d-block w-100 h-80" alt="...">
            <h5 style="text-align:center">BE happy !!!!</h5>
           <p style="text-align:center">Cost is around 300</p>
          </div>
          <div class="carousel-item">
            <img src="../../assets/istockphoto-909772478-612x612.jpg" class="d-block w-100 h-80" alt="...">
            <h5 style="text-align:center">stay safe !!!!</h5>
           <p style="text-align:center">Cost is around 400</p>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
